 
* {
    margin: 0;
    background-image:url(IMG_4738.JPG);
    background-size: cover;
    color: rgb(255, 255, 255);

}
.currenttimeUTC{
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f08e;
}

header {
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-weight: 50px;
    border: none;
    width: 95%;
    align-items: center;



}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
}
.intro-section {
    display: inline-block;
    font-size: x-large;
    border-radius: 20px;

}
.goals{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Arial, sans-serif;
    font-size: 20px; 
    border-radius: 20px;
}
.intro {
    display: inline-block;
    width: 500px;
    text-align: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    border-radius: 20px;
}


main{
    width: 100%;
}
.profile {
    font-size: 25px;
    border-radius: 4px;
    display: inline-block;
}
h1 {
    font-size: 50px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    
}
.profile-details p {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    
}
.text{
    border-radius: 20px;
}

.links ul {
    list-style-type: lower-greek;
    padding: 0;
    color: aliceblue;
}

.links ul li {
    margin-bottom: 0.5rem;
}

.links a {
    color: white
    ;
    text-decoration: none;
    font-weight: bold;
}


